// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}

body {
  // background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.5)), image_url("background_img.jpeg");
  // background-size: cover;
}

.game-card {
  background-repeat: no-repeat;
}
