<h1>Your bookings</h1>

    <% @bookings.each do |booking| %>
  <div class="container">
    <div class="card border-dark mb-3">
      <div class="card-header" style="text-align: center;"><%= booking.game.title %></div>
        <p>Starting date: <%= booking.created_at.strftime('%d/%m/%y') %></p>
        <p> Remember to return the game on <%= (booking.created_at + (86400 * booking.duration)).strftime('%d/%m/%y') %> </p>
        <%= link_to "Delete booking" ,
                        booking_path(booking),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
