<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/GameHub-108907714045753/?modal=admin_todo_tour" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fas fa-heart"></i> at <span class="target">THE GAMEFREAKS!</span>
  </div>
</div>
