<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fas fa-heart"></i> at <div class="target">THE GAMEFREAKS!</div>
  </div>
</div>
