<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/game_banner_1.jpg);">
  <div class="container">
    <h1 class="title">GameHub</h1>
    <p>Get your game on!</p>
  </div>
</div>