.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.title {
  font-family: $title;
  margin-left: 50px;
  color: $orange;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
}

.banner p {
  margin-left: 55px;
  font-size: 30px;
  font-family: $paragraph;
  color: $white;
  opacity: .7;
  text-shadow: 3px 3px 3px black;
}
