// .games-container {
//   display: grid;
//   // grid-template-columns: 1fr 1fr 1fr 1fr;
//   justify-items: center;
//   justify-content: center;
//   margin: 0 auto;
//   grid-gap: 30px 30px;
//   width: 80vw;
// }

// .game-card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 200px;
//   width: 100%;
//   text-align: center;
//   justify-items: center;
//   color: $light-orange;
//   font-weight: bold;
//   font-size: 20px;
//   font-family: $paragraph;
//   box-shadow: 1px 1px 15px 5px rgba(10,10,10, 0.4);
//   border-radius: 6px;
//   text-decoration: none;
//   margin-top: 20px;
//   & a {
//     color: $orange;
//   }
// }

// /* Trip card */


.container-card-form {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.games-container {
  width: 75%;
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  position: relative;
  justify-items: left;
  justify-content: left;
  grid-gap: 20px 20px;
  height: 350px;
}

.games-container img {
  object-fit: cover;
  object-position: center;
  height: 260px;
  width: 100%;
}

.games-container .games-container-pricing {
  position: absolute;
  bottom: -2px;
  right: -515px;
}

.game-image {
  height: 165px;
  width: 100%;
  object-fit: cover;
}

.game-card-title {
  font-size: 20px;
}
.game-card-title a {
  font-weight: bold;
  text-decoration: none;
  
}

.game-price {
  font-weight: bold;
  border: 2px solid $orange;
  border-radius: 50px;
  padding: 10px;
  background: $orange;
  color: $white;
 

}
.game-card {
  background: white;
  box-shadow: 1px 2px 3px $orange; 
  border-radius: 5px;
}

.game-card-info {
 display: flex;
 justify-content: space-between;
 padding: 10px;
 align-items: flex-end;
}





// Media Queries

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
