.cat-container {
  background:$orange;
  width: 20%;
}

.categories {
  margin: 10px;
  text-align: center;
}

.cat-list {
  color: $white;
  list-style: none;
  padding: 0 20px;
}

.cat-btn {
  color: $purple;
  &:hover {
    text-decoration: none;
  }
}
